@import '../../assets/reset.css';
@import '../../assets/colors.css';

.modal-container.active {
  width: 100%;
  height: 100vh;
  background-color: rgba(68, 68, 68, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 1;
}
.modal-container {
  z-index: -1;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 30%;
  left: calc(50% - 200px);
  width: 400px;
  background-color: #333;
  color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px 4px rgba(38, 38, 38, 0.261);
}
.modal .header {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
}
.modal .header button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal .header button:hover svg {
  fill: var(--pc);
}
.modal .header button svg {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
}
.modal .body {
  padding: 1rem;
  font-weight: 400;
}
